/* /*#countLabel{
    display: block;
    text-align: center;
    font-size: 10em;
    font-family: Arial, Helvetica, sans-serif;
}
#btn{
    text-align: center;
}
.buttons{
    padding: 10px 20px;
    font-size: 1.5em;
    color: white;
    background-color: hsl(214, 100%, 74%);
    border-radius: 5px;
    transition: all 0.25s;
} 
.buttons:hover{
    cursor: pointer;
    background-color:hsl(214, 78%, 16%) ;
}*/

/*body{
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    text-align: center;
}
#mySubmit{
    font-size: 30px;
    padding: 5px 25px;
    border-radius: 5px;
}
.labels{
    font-size: 3em;
}
#myText{
    font-size: 15px;
    padding: 5px 25px;
    border-radius: 5px;
}

body{
    font-family: Arial, sans-serif;
    font-size: 20px;
    background-color: hsl(0, 0%, 95%);
}
h1{
    color: hsl(223, 100%, 64%);
}
form{
background-color: hsl(0, 0%, 100%);
text-align: center;
max-width: 350px;
margin: auto;
padding: 25px;
border-radius: 10px;
box-shadow: 5px 5px 15px hsla(0, 0%, 0%, 0.3);
}

#textbox{
    width: 50%;
    text-align: center;
    font-size: 2em; 
    border: 2px solid hsla(0, 0%, 0%, 0.8);
    border-radius: 4px;
    margin-bottom: 15px;
}
label{
    font-size: 1.5em;
    font-weight: bold;
}
button{
     margin-top:15px;
     background-color: hsl(0, 100%,60%);
     color: white;
     font-size: 1em;
     border: none;
     padding: 10px 15px;
    border-radius: 5px;
    cursor: pointer;
}
button:hover{
    background-color: hsl(0, 100%, 50%);
}
#result{
    font-size: 1.75em;
    font-weight: bold;
}*/
/* .body{ */
    /* background-color:aliceblue ; */
/* } */